@for (course of courses(); track course.id) {
<div class="course">
  <h3 class="title">
    {{ course.title }}
  </h3>
  <img [src]="course.iconUrl" alt="" />
  <div>
    <p class="description">
      {{ course.longDescription }}
    </p>
    <ul>
      <li>
        <span><mat-icon>category</mat-icon> Category</span>
        <span>{{ course.category }}</span>
      </li>
      <li>
        <span><mat-icon>play_lesson</mat-icon> Lessons</span>
        <span>{{ course.lessonsCount }}</span>
      </li>
      <li>
        <span><mat-icon>payments</mat-icon> Price</span>
        <span>{{ course.price }}$</span>
      </li>
    </ul>
    <div class="actions">
      <button [routerLink]="['view', course.id]">View</button>
      <button (click)="onEdit(course)">Edit</button>
      <mat-icon color="warn" (click)="onDelete(course.id)">delete</mat-icon>
    </div>
  </div>
</div>
}
