.course {
  & {
    text-align: center;
    padding: 20px 0px;
    margin: 20px 0px;
    background-color: #505050;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
  h3 {
    margin: 0 {
      bottom: 20px;
    }
  }
  img {
    width: 100%;
  }
  ul {
    list-style: none;
    margin: 0;
    text-align: start;
    padding: 0 20px;
  }
  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &:not(:last-of-type) {
      margin-bottom: 12px;
    }
    span:first-of-type {
      display: flex;
      align-items: center;
      gap: 6px;
    }
    span:last-of-type {
      font-size: 12px;
    }
    .mat-icon {
      font-size: 20px;
    }
  }
  .actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px 0px;
    button {
      border: none;
      padding: 8px 25px;
      border-radius: 5px;
      color: white;
      font-size: 12px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      &:first-of-type {
        background-color: #005cbb;
      }
      &:last-of-type {
        background-color: #f7c600;
      }
    }
  }
}
