<section class="course-container">
  <h1>{{ course()?.title }}</h1>
  <img [src]="course()?.iconUrl" alt="Course Thumbnail" />
  <div class="lessons">
    <table>
      <thead>
        <tr>
          <th>Description</th>
          <th>Duration</th>
        </tr>
      </thead>
      <tbody>
        @for (lesson of lessens(); track lesson.id) {
        <tr>
          <td>{{ lesson.description }}</td>
          <td>{{ lesson.duration }}</td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</section>
