@import "../../../styles/button";
@import "../../../styles/forms";

@include buttonStyles();
@include formStyles();

:host{
  display: block;
  width: 100%;
}

.lesson-detail {
  width: min(600px, 100%);
  margin: 0 auto;
}

.edit-lesson {
  border: 1px solid #2086fc;
  border-radius: 5px;
  padding: 20px;
}
