<div class="demo-container">
  <h1>Resource() Demo</h1>

  <div class="course-header">
    <div class="form-control">
      <input
        placeholder="Search lessons"
        (keyup)="searchLessons(input.value)"
        #input
      />
    </div>
  </div>
  <div class="actions">
    <button class="btn" (click)="reload()">Reload Lessons</button>

    <button class="btn" (click)="reset()">Reset Lessons</button>
  </div>
  @if(!this.lessons.isLoading()){
  <div class="table-container">
    <table class="results-table">
      @for(lesson of lessons.value(); track lesson.id) {
      <tr>
        <td>
          {{ lesson.description }}
        </td>
      </tr>
      } @empty {
      <div class="no-lessons">No lessons found.</div>
      }
    </table>
  </div>
  }@else {
  <div class="loader">
    <mat-spinner></mat-spinner>
  </div>
  }
</div>
