<div class="courses-panel">
  <header>
    <h3>All Courses</h3>

    <button class="btn">Add Course</button>
  </header>

  <mat-tab-group>
    <mat-tab label="Beginners">
      <courses-card-list
        [data]="beginnerCourses()"
        (updatedCourse)="onCoursesUpdated($event)"
      />
    </mat-tab>

    <mat-tab label="Advanced">
      <courses-card-list
        [data]="advancedCourses()"
        (updatedCourse)="onCoursesUpdated($event)"
      />
    </mat-tab>
  </mat-tab-group>
</div>
