@import "../../styles/button";

@include buttonStyles();

.courses-panel {
  max-width: 400px;
  margin: 0 auto;
}

button {
  margin-right: 10px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}
